In [13]:
import pandas as pd
import numpy as np

In [14]:
file = pd.read_excel('1958881A4B17C8519E.xls')
df=pd.DataFrame(file)

In [15]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV,CAT. MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0,0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6,0
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7,1
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4,1
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4,0
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6,0
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9,0
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0,0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9,0

In [16]:
# 주택 가격의 평균
s_df=df['MEDV']

In [17]:
# 주택가격의 평균
a=s_df.mean()
a

22.532806324110677

In [18]:
# 주택가격의 중앙값 
b = s_df.median()
b

21.2

In [21]:
# 주택 가격의 표준편차 
c=s_df.std()
c

9.19710408737982

In [22]:
# 주택 가격의 최대값
d = s_df.max()
d

50.0

In [23]:
# 주택 가격의 최소값
e = s_df.min()
e

5.0

In [24]:
# 주택 가겨그이 최빈값
f = s_df.mode()
f

0    50.0
Name: MEDV, dtype: float64

In [ ]:
# 주택 가격의 분포 시각화